<div class="box_div" id="login_div"><div class="box_top_div"><a href="#">Start</a> &gt; New Playground</div><div class="box_body_div">
	<div id="new_user_div"><div>

	<form action="." id="new_playground_form"><p>

	<label for="playground_name_input">Playground Name:</label><br>
	<input type="text" id="playground_name_input"><br><br>
	<label for="locality_input">Locality:</label><br>
	<input type="text" id="locality_input"><br><br>
	<label for="address_input">Playground Address:</label><br>
	<textarea id="address_input"></textarea><br><br>
	<label for="about_input">Brief description:</label><br>
	<textarea id="about_input"></textarea><br><br>
	<label for="playground_email_input">Email:</label><br>
	<input type="text" id="playground_email_input" autocapitalize="off"><br><br>
	<label for="playground_password_input">Password:</label><br>
	<input type="password" id="playground_password_input"><br><br>
	<label for="playground_password_confirm_input">Confirm password:</label><br>
	<input type="password" id="playground_password_confirm_input"><br><br>

	<input type="submit" value="Create New Playground">

	</p></form>

	</div><div>
	
	<p class="blue_p bold_p">Information:</p>
	<ul>
	<li>You can manage reservations at your playground</li>
	<li>Your usage is stored automatically</li>
	<li>Your password is encrypted and can't be read</li>
	</ul>

	<p id="new_playground_message_p"></p>

	</div></div>
