<div class="box_div" id="login_div"><div class="box_top_div">Playground log in</div><div class="box_body_div">

	<form action="." id="playground_login_form" autocomplete="off"><p>

	<label for="playground_email_input">Email:</label><br><input type="text" id="playground_email_input" value="" autocapitalize="off"><br><br>
	<label for="playground_password_input">Password:</label><br><input type="password" id="playground_password_input" value=""><br><br>
	<input type="checkbox" id="remember_me_checkbox" checked="checked"> <label for="remember_me_checkbox">Remember me</label><br><br>		
	<input type="submit" value="Log in">

	</p></form>

	<p id="login_message_p"></p>
	<p><a href="#/addplayground">New Playground</a> | <a href="#forgot_password">Forgot password</a></p>

	</div></div>
