<h1 class="search blue" >Which game are you going to play?</h1>
<h2 class="search blue" >Search a play area near you</h2>

<div class="box_div centred_div" id="search_div">
<div class="search_box_body_div">
<form action="." id="game_search_form">

<table>
<tr>
	<td><input type="text" id="location_input" class="large_text" placeholder="Search anything" autocapitalize="off" data-ng-model="query"></td>
	<td><input type="button" value="Search" ng-click="SearchGamesByLocation()"></td>
</tr>
</table>

</form>	

<div ng-if="error">
	<br/>
	{{error}}
</div>

</div>
</div>

<div ng-if="venues.length > 0">

<!--
<div class="flat_box_div centred_div filter">
	<div class="flat_box_body_div ">
		<p>Sort By : <a href="" ng-click="predicate = 'price'; reverse=false">Rate low to high</a> | <a href="" ng-click="predicate = '-price'; reverse=false">Rate high to low</a></p>
	</div>
</div>
-->

<div class="flat_box_div centred_div" data-ng-repeat="venue in venues | filter:query | filter:game_type | orderBy:predicate:reverse">
	<div class="flat_box_body_div ">
		<h3><a href="#/ + {{venue.url}}">{{venue.name}}</a></h3>
		{{venue.locality}} ><span class="soft">{{venue.game_type | uppercase}}</span>
		<br/>
		Rate : <span class="soft">{{venue.rate}}</span> per slot
		<br/>
		Contact : <span class="soft">{{venue.phone}}</span>
		<br/>
		<a href="">Reviews</a> | <a href="">Reservations</a>
	</div>	
</div>

</div>	
